body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(184, 57, 57), rgb(0, 0, 141));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}