@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary: #7c0038;
    --primary-010: #5f008b;
    
    --secondary: #EA638C;
    --secondary-010: #06374e;

    --white: #eeeeee;

    --terciary: #e7888c;

    --black: #1B2021;
    ---black-010: #2a2a30;

    --grey: #30343F;

}


body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}